body{
  display:flex;
  justify-content: flex-start;
    background: #FC0FC0;  
}
.container{
  align-items: flex-start;
    line-height: normal;
    background: #FFFFFF;
    width:332px;
    height:582px;
}
.item{
  height: 50px;
}
.item-1{
  width:fit-content;
  padding:15px;
  
}
.item-2{
  flex:1;
  width:fit-content;
  padding:15px;
}
.item-3{
  width:fit-content;
    padding:15px;
}

.item img {
  max-width: 8%;
  float: center;
  margin-right:1111px;  
}
.text{
  font-size:23px;
  margin-left:150px;
  margin-bottom:-25px;
  align-items:center;
}
.footer{
  display:flex;
  height: 10px;
  background-color: #FFFFFF;
}